# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code settings (uncomment if you want to exclude it)
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-version
.packages
.pub-cache/
.pub/
build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug/
/android/app/profile/
/android/app/release/
/android/.gradle/
/android/.idea/
/android/local.properties

# iOS build artifacts
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/

# Firebase secrets (if using Firebase)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Key store / secrets
android/key.properties
*.jks

# Environment variable files
.env
.env.*
